.cardWrapper 
{
    width: 100%;
    height: auto;
    max-width: 340px; 
    min-height: 340px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: end;
    align-self: flex-start;
    cursor: pointer;
    &:hover 
    {
        cursor: pointer;
        box-shadow: 8px 8px 25px #c8c8ca;
    }

    p
    {
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-shadow: 0.15em 0 1em #000000;
    }
}

.link
{
    width: 100%;
    height: auto;
    max-width: 340px; 
    min-height: 340px;
}