.cardWrapper 
{
    width: 340px;
    height: 340px;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    align-items: end;
    align-self: flex-start;
    cursor: pointer;
    &:hover 
    {
        cursor: pointer;
        box-shadow: 8px 8px 25px #c8c8ca;
    }

    p
    {
        font-size: 18px;
        font-weight: 700;
        color: white;
        text-shadow: 0.15em 0 1em #000000;
    }
}