.carousel 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 415px;

    .slide
    {
        width: 100%;
        height: auto;
        max-height: 415px;
        object-fit: cover;
        border-radius: 25px;

        @media (max-width: 600px)
        {
            min-height: 255px;
            border-radius: 10px;
        }
    }

    .slideHidden
    {
        display: none;
    }

    .arrow
    {
        position: absolute;
        width: 47px;
        height: 79px;
        background-color: transparent;
        border: none;
        filter: drop-shadow(0 0 5px #555); /* s'adapte à la forme */
        &:hover
        {
            cursor: pointer;
        }

        @media (max-width: 1000px)
        {
            background-size: 37px;
            background-position: center;
        }

        @media (max-width: 600px)
        {
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .arrowLeft
    {
        left: 20px;
        background-image: url(../../../utils/assets/carousel_arrow_left.svg);
        
        @media (max-width: 1000px)
        {
            width: 37px;
            height: 40px;
        }

        @media (max-width: 600px)
        {
            width: 24px;
            height: 24px;
        }
    }

    .arrowRight
    {
        right: 20px;
        background-image: url(../../../utils/assets/carousel_arrow_right.svg);

        @media (max-width: 1000px)
        {
            width: 34px;
            height: 40px;
        }

        @media (max-width: 600px)
        {
            width: 24px;
            height: 24px;
        }
    }

    .indicators
    {
        display: flex;
        position: absolute;
        bottom : 1rem;
    }

    .indicator
    {
        background-color: white;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 100%;
        border: none;
        outline: none;
        box-shadow: 0 0 5px #555;
        margin: 0 0.2rem;
        cursor: pointer;
    }

    .indicatorInactive
    {
        background-color: grey;
    }
}