.homeContent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cardContainer
    {
        background-color: #F6F6F6;
        width: 85%;
        height: auto;
        border-radius: 25px;
        margin-top: 40px;
        padding: 56px 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, calc(33.33% - 50px)));
        place-items: center;
        gap: 50px;
    }
}
