.homeContent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cardContainer
    {
        background-color: #F6F6F6;
        width: 85%;
        height: auto;
        border-radius: 25px;
        margin-top: 40px;
        padding: 56px 50px;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;

        @media (max-width: 1000px)
        {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 50px 30px;
        }

        @media (max-width: 600px)
        {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            background-color: transparent;
            gap: 20px;
            padding: 0;
        }
    }
}
