.mainAPropos 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 600px)
    {
        min-height: 75vh;
    }

    .collapseWrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 95%;

        @media (max-width: 600px)
        {
            width: 86%;
        }
    }
}


