main 
{
    justify-content: flex-start;

    .collapseWrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 95%;
    }
}


