$redColor: #ff6060;

.logementPage 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: auto;
    width: 85%;
    min-height: 71vh;

    .infosWrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;

        .title
        {
            font-size: 36px;
            color: $redColor;
        }

        .location
        {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .tags
        {
            background-color: $redColor;
            color: white;
            padding: 4px 40px;
            border-radius: 12px;
            margin-right: 10px;
            font-weight: 700;
        }

    }

    .hostInfos
    {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .hostWrapper
        {
            display: flex;
            flex-direction: row;
            align-items: center;

            p
            {
                color: $redColor;
                font-size: 18px;
                text-align: right;
                margin-right: 10px;
            }

            img
            {
                border-radius: 100%;
                width: 64px;
                height: 64px;
                object-fit: cover;
            }
        }

        .stars
        {
            width: 20px;
            height: 20px;
            margin-top: 20px;
            margin-right: 10px;
        }

        span
        {
            white-space: nowrap;
            text-align: right;
        }
    }


    .collapseWrapper
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 50px;

        .liCollapse
        {
            list-style-type: none;
            padding-bottom: 5px;
        }
    }
        

    
}